<header>
  <!-- Navigation bar -->

  <app-nav></app-nav>

  <!-- Hero section with background image, heading, subheading and button -->
  <div
    class="relative h-[350px] overflow-hidden bg-[url('https://cdn.pixabay.com/photo/2012/01/09/09/59/earth-11595_1280.jpg')] bg-cover bg-[50%] bg-no-repeat"
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-black/60 bg-fixed"
    >
      <div class="flex h-full items-center justify-center">
        <div class="px-6 text-center text-white md:px-12">
          <h1 class="mb-6 text-5xl font-bold">Unilocal</h1>
          <h3 class="mb-8 text-3xl font-bold">¡Lugares más cerca de ti!</h3>
        </div>
      </div>
    </div>
  </div>
</header>
