<section class="h-full flex-grow row py-10">
  <div class="bg-gradient-to-r from-blue-300 to-blue-700">
    <div class="container h-full mt-0">
      <div
        class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
      >
        <div class="max-w-md w-full rounded-lg space-y-8 bg-gray-50">
          <div>
            <h2 class="mt-2 text-center text-3xl font-extrabold text-gray-900">
              Registrarse
            </h2>
          </div>
          <form
            class="mt-3 px-5 space-y-6"
            #f="ngForm"
            (ngSubmit)="registrar()"
            method="POST"
          >
            <input type="hidden" name="remember" value="true" />
            <div class="rounded-md shadow-sm -space-y-px px-5">
              <div class="flex justify-center mb-5">
                <div class="w-16 h-16 bg-gray-200 rounded-full overflow-hidden">
                  <img
                    [src]="
                      fotoPreview ||
                      'https://cdn-icons-png.flaticon.com/128/949/949647.png'
                    "
                    class="w-full h-full object-cover"
                    alt="Vista previa de la foto"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="identification" class="">Cédula</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="identification"
                    name="cedula"
                    type="text"
                    required
                    pattern="[0-9]{7,10}"
                    [(ngModel)]="registroClienteDTO.cedula"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Cédula"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="name" class="">Nombre</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="name"
                    name="name"
                    type="text"
                    required
                    minlength="5"
                    [(ngModel)]="registroClienteDTO.name"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Nombre (mínimo 5 caracteres)"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="nickname" class="">Nickname</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="nickname"
                    name="nickname"
                    type="text"
                    required
                    [(ngModel)]="registroClienteDTO.nickname"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Nickname"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="photo" class="">Foto</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="photo"
                    name="photo"
                    type="file"
                    accept="image/*"
                    required
                    (change)="handleFotoSeleccionada($event)"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="email" class="">Email</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    required
                    email
                    [(ngModel)]="registroClienteDTO.email"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="password" class="">Contraseña</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    required
                    minlength="8"
                    [(ngModel)]="registroClienteDTO.password"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Contraseña (mínimo 8 caracteres)"
                  />
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="confirmar" class="">Confirmar Contraseña</label>
                </div>
                <div class="md:col-span-3">
                  <input
                    id="confirmar"
                    name="confirmPassword"
                    type="password"
                    required
                    minlength="8"
                    [(ngModel)]="registroClienteDTO.confirmPassword"
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Contraseña (mínimo 8 caracteres)"
                  />
                </div>
              </div>
              @if (!sonIguales()) {
              <p class="text-red-500">Las contraseñas no coinciden</p>
              }
              <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
                <div class="flex items-center justify-end md:col-span-1">
                  <label for="city" class="">Residencia</label>
                </div>
                <div class="md:col-span-3">
                  <select
                    name="residenceCity"
                    required
                    [(ngModel)]="registroClienteDTO.residenceCity"
                  >
                    <option value="" selected>Seleccione una ciudad</option>
                    @for (item of ciudades; track $index) {
                    <option [value]="item">{{ item }}</option>
                    }
                  </select>
                </div>
              </div>
            </div>

            <div class="py-2">
              <button
                type="submit"
                [disabled]="f.invalid || !sonIguales()"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              >
                Registrarse
              </button>
              <app-alerta [alerta]="alerta"></app-alerta>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
