<div class="bg-blue-300 flex mt-20 justify-between">
  <div
    class="max-w-7xl px-4 py-6 bg-blue-300 sm:px-6 lg:px-8 hidden lg:block md:block"
  >
    <img
      class="flex-1 w-48 h-48 rounded-full shadow-lg"
      [src]="userPhoto"
      alt=""
    />
  </div>
  <div class="bg-blue-300 max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-sans tracking-tight text-gray-900">
      {{ userName }}
    </h1>
    <p class="">{{ userEmail }}</p>
  </div>

  <div class="bg-blue-300 mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <!-- Content -->
      <div class="flex-1">
        <!-- Rest of content -->
      </div>

      <!-- Buttons -->
      <div class="flex space-x-4 lg:block md:block"></div>
    </div>
  </div>
</div>
<main>
  <div class="max-w-7xl py-0">
    <div class="md:flex no-wrap md:-mx-2">
      <!-- Left Side -->

      <div class="w-full md:w-3/12">
        <div class="p-3">
          <ul
            class="-mt-3 text-sm font-semibold text-gray-500 hover:text-gray-700 py-2 px-3 divide-y rounded bg-white"
          >
            <li class="flex items-center py-3 justify-center">
              <button class="text-xl">Mi negocios</button>
              <button>
                <img
                  class="h-6 w-6 ml-1"
                  src="https://cdn-icons-png.flaticon.com/128/925/925752.png"
                  alt=""
                />
              </button>
            </li>
            <li class="flex items-center py-3 justify-center">
              <button class="text-xl" (click)="openPanel()">
                Crear Negocio
              </button>
              <button>
                <img
                  class="h-7 w-7"
                  src="https://cdn-icons-png.flaticon.com/128/5719/5719509.png"
                  alt=""
                />
              </button>
            </li>

            <li class="items-center py-3"></li>
          </ul>
        </div>
      </div>
      <!-- Right Side -->
      <div class="w-full mx-2 md:block lg:block md:-mt-24 sm:mt-0">
        <!-- End of about section -->

        <div class="my-1"></div>

        <div
          class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8 sm:block"
        >
          <div *ngIf="showPanel" class="">
            <app-create-local (close)="closePanel()"></app-create-local>
          </div>
          <div
            *ngIf="!showPanel"
            class="overflow-hidden border border-gray-200 md:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-200">
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-4 py-4 text-sm font-medium">
                    <div>
                      <h2 class="font-medium text-gray-800">
                        Resume and Applications
                      </h2>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                    <div>
                      <h2 class="font-medium text-gray-800">
                        Signed Documents
                      </h2>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                    <div>
                      <h2 class="font-medium text-gray-800">
                        Tasklist Attachments
                      </h2>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                    <div>
                      <h2 class="font-medium text-gray-800">
                        Workflow Attachments
                      </h2>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End of profile tab -->
      </div>
    </div>
  </div>
</main>
