<div>
  <!-- Main navigation container -->
  <nav
    class="relative flex w-full flex-wrap items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4"
    data-twe-navbar-ref
  >
    <div class="flex ml-4 w-full flex-wrap items-center justify-between px-3">
      <div>
        <a
          class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0"
          routerLink="/home"
        >
          <img
            class="me-2"
            src="../../../../assets/mapa.png"
            style="height: 45px"
            alt="MAP Logo"
            loading="lazy"
          />
        </a>
      </div>

      <!-- Hamburger button for mobile view -->
      <button
        class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
        type="button"
        data-twe-collapse-init
        data-twe-target="#navbarSupportedContent4"
        aria-controls="navbarSupportedContent4"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- Hamburger icon -->
        <span
          class="[&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>

      <!-- Collapsible navbar container -->
      <div
        class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
        id="navbarSupportedContent4"
        data-twe-collapse-item
      >
        <!-- Left links -->
        <ul
          class="list-style-none me-auto flex flex-col ps-2 lg:mt-1 lg:flex-row"
          data-twe-navbar-nav-ref
        >
          <!-- Home link -->
          <li class="my-4 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
            <a
              class="text-black/60 transition font-bold font-serif lg:text-4xl duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
              aria-current="page"
              data-twe-nav-link-ref
              >Unilocal</a
            >
          </li>
        </ul>

        <div class="flex items-center">
          <button
            type="button"
            data-twe-ripple-init
            data-twe-ripple-color="light"
            class="me-3 lg:text-xl font-serif inline-block rounded px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-secondary-600 dark:hover:text-secondary-500 dark:focus:text-secondary-500 dark:active:text-secondary-500"
          >
            <a href="" routerLink="/home">Home</a>
          </button>
          <button
            type="button"
            data-twe-ripple-init
            data-twe-ripple-color="light"
            class="me-3 inline-block lg:text-xl font-serif rounded px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-secondary-600 dark:hover:text-secondary-500 dark:focus:text-secondary-500 dark:active:text-secondary-500"
          >
            <a href="" routerLink="/map">Ver Mapa</a>
          </button>
          <button
            *ngIf="!userLoginOn"
            type="button"
            data-twe-ripple-init
            data-twe-ripple-color="light"
            class="me-3 inline-block lg:text-xl font-serif rounded px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-secondary-600 dark:hover:text-secondary-500 dark:focus:text-secondary-500 dark:active:text-secondary-500"
          >
            <a href="" routerLink="/login">Login</a>
          </button>
          <button
            *ngIf="!userLoginOn"
            type="button"
            data-twe-ripple-init
            data-twe-ripple-color="light"
            class="me-3 lg:text-xl font-serif inline-block bg-blue-600 rounded px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-50 hover:text-primary-600 hover:bg-blue-400 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-secondary-600 dark:hover:text-secondary-500 dark:focus:text-secondary-500 dark:active:text-secondary-500"
          >
            <a href="" routerLink="/register">Sign-up</a>
          </button>
          <div *ngIf="userLoginOn">
            <!-- Profile dropdown -->
            <div class="relative ml-4 mr-4 flex-shrink-0">
              <div>
                <button
                  type="button"
                  class="relative flex rounded-full bg-gray-800 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                  (click)="toggleMenu()"
                >
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <div class="tooltip-container">
                    <img
                      *ngIf="userLoginOn && userPhoto"
                      class="h-10 w-10 rounded-full border-2 border-green-400"
                      [src]="userPhoto"
                      alt=""
                      (mouseover)="showTooltip = true"
                      (mouseout)="showTooltip = false"
                    />
                    <div *ngIf="showTooltip" class="tooltip">
                      <p class="justify-center text-white font-bold text-base">
                        Cuenta de Unilocal
                      </p>
                      <p class="text-gray-300 text-base">{{ userName }}</p>
                      <p class="text-gray-300 text-xs">{{ userEmail }}</p>
                    </div>
                  </div>
                  <!-- Si el usuario no está logueado o no tiene una foto, muestra una foto por defecto -->
                  <img
                    *ngIf="!userLoginOn || !userPhoto"
                    class="h-10 w-10 rounded-full border-2 border-green-400"
                    src="https://cdn-icons-png.flaticon.com/128/949/949647.png"
                    alt=""
                  />
                </button>
              </div>

              <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
              <div
                *ngIf="isMenuOpen"
                class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-yellow-600"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-0"
                  >Your Profile</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-yellow-600"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-1"
                  >Settings</a
                >
                <a
                  class="block px-4 py-2 text-sm text-yellow-600"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  ><button (click)="logout()">Sign out</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
