<section class="h-full">
  <div class="bg-gradient-to-r from-blue-300 to-blue-700 h-screen">
    <div class="container h-full px-6 py-24 mt-0">
      <div class="flex h-full flex-wrap items-center justify-center">
        <!-- Left column container with background-->
        <div
          class="flex items-center justify-center sm:w-3/12 mb-4 md:w-5/12 lg:w-5/12"
        >
          <img
            src="https://cdn.pixabay.com/photo/2023/09/01/18/02/eyeglasses-8227429_1280.jpg
"
            class="w-10/12 rounded-lg"
            alt="Phone image"
          />
        </div>

        <!-- Right column container with form -->
        <div class="md:w-8/12 lg:ms-6 lg:w-5/12">
          <div
            class="flex rounded-lg items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
          >
            <div class="max-w-md w-full space-y-8">
              <div>
                <h2
                  class="mt-6 text-center text-3xl font-extrabold text-gray-900"
                >
                  Iniciar sesión
                </h2>
              </div>
              <form
                class="mt-8 space-y-6"
                #f="ngForm"
                (ngSubmit)="login()"
                method="POST"
              >
                <input type="hidden" name="remember" value="true" />
                <div class="rounded-md shadow-sm -space-y-px">
                  <div>
                    <label for="email-address" class="sr-only"
                      >Correo electrónico</label
                    >
                    <input
                      id="email-address"
                      name="email"
                      type="email"
                      autocomplete="email"
                      email
                      required
                      [(ngModel)]="loginDto.email"
                      class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                      placeholder="Correo electrónico"
                    />
                  </div>
                  <div>
                    <label for="password" class="sr-only">Contraseña</label>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      autocomplete="current-password"
                      required
                      [(ngModel)]="loginDto.password"
                      class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                      placeholder="Contraseña"
                    />
                  </div>
                </div>

                <div class="flex items-center justify-between">
                  <div class="flex items-center">
                    <input
                      id="remember-me"
                      name="remember_me"
                      type="checkbox"
                      class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
                    />
                    <label
                      for="remember-me"
                      class="ml-2 block text-sm text-gray-900"
                    >
                      Recordarme
                    </label>
                  </div>

                  <div class="text-sm">
                    <a
                      class="font-medium text-blue-600 hover:text-blue-500"
                      routerLink="/register"
                    >
                      ¿No tienes una cuenta?
                    </a>
                  </div>
                </div>

                <div>
                  <button
                    type="submit"
                    [disabled]="f.invalid"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                  >
                    Iniciar sesión
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
