<div
  class="md:mr-64 max-w-screen-lg w-64 bg-white rounded-xl overflow-hidden shadow-lg"
>
  <div class="relative w-64">
    <img
      [src]="lugar.images[currentImageIndex]"
      [alt]="lugar.name"
      class="w-64 h-64 object-cover object-center"
    />
    <div
      class="absolute inset-0 bg-gradient-to-tr from-transparent via-transparent to-black/60"
    ></div>
    <button
      class="absolute top-4 right-4 h-8 w-8 flex items-center justify-center text-red-500 bg-white rounded-full shadow-md hover:bg-red-500 hover:text-white focus:outline-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-6 w-6"
      >
        <path
          d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
        ></path>
      </svg>
    </button>
  </div>
  <div class="p-6">
    <div class="mb-3 flex items-center justify-between">
      <h2 class="text-2xl font-medium text-blue-gray-900">
        {{ lugar.name }}
      </h2>
      <p
        class="flex items-center gap-1.5 text-base font-normal text-blue-gray-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="-mt-0.5 h-5 w-5 text-yellow-700"
        >
          <path
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
            clip-rule="evenodd"
          ></path>
        </svg>
        {{ lugar.qualifications }}
      </p>
    </div>
    <div class="mb-3 flex items-center justify-between">
      <h3>Tipo:</h3>
      <h3 class="text-2xl font-medium text-blue-gray-900">
        {{ lugar.businessType }}
      </h3>
    </div>
    <div class="mb-3 flex items-center justify-between">
      <h3>Estado:</h3>
      <h3
        class="text-2xl font-medium"
        [ngClass]="{
          'text-green-500': lugar.stateBusiness === 'Active',
          'text-blue-500': lugar.stateBusiness === 'Revision',
          'text-red-500': lugar.stateBusiness === 'Refused'
        }"
      >
        {{ lugar.stateBusiness }}
      </h3>
    </div>
    <p class="text-sm font-light leading-relaxed text-gray-700">
      {{ lugar.description }}
    </p>
    <div class="p-6 pt-3">
      <button
        class="w-full py-3.5 px-7 text-sm font-bold uppercase text-white bg-pink-500 rounded-lg shadow-md hover:shadow-lg focus:outline-none focus:shadow-none active:shadow-none"
        type="button"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
